@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;

}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
    text-align: center;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.btn:hover {
    background-color: rgba(80,17,204);
}

button {
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
}

/* 
NAVBAR
*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px; 
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}


.nav__link--primary:hover {
    background-color: rgba(80,17,204);
}

.login {
    margin-left: 48px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 
HEADER 
*/

section {
    padding: 0 32px;
}


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 41.6667%;
}

.header__img--wrapper {
    width: calc(100% -  41.6667%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input::placeholder {
    font-weight: 500;
    color: rgb(158, 170, 189);
}

.header__email--input:hover {
    border-color: rgba(160,174,192);
}

.header__email--input:focus,
.header__email--input:active {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: rgba(100,21,255);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__email--btn:hover {
    background-color: rgba(60,13,153);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

header {
    position: relative;
}

.header__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    width: 256px;
    height: 256px;
    transform: matrix(1, 0, 0, 1, -163, 0);
}

/* 
FEATURES 
*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}
.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.features__blob {
    transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
    padding: 16px;
}

/* 
QUALITY
*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__title,
#values .section__title {
    line-height: 1.25;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100,21,255);
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/* 
STEPS 
*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description,
.steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.steps__grid {
    position: absolute;
    opacity: 0.15;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgba(100,21,255);
    z-index: 1;
}

/* 
VALUES
*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__description,
.values__img {
    width: 50%;
}

.values__list {
    display: flex;
}

/* .value {
    width: 50%;
} */

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__img--wrapper {
    width: 36px;
    height: 36px;
    display: flex;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}

.values__description {
    padding: 32px 64px 32px 0;
}

/*
PRICING
*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan__top,
.plan__middle,
.plan__bottom {
    padding: 32px;
    text-align: center;
}

.plan__name,
.plan__price,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__bottom {
    padding: 32px 96px;
    z-index: 10;
    position: relative;
}

.plan__button {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3   ) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}



/* 
TESTIMONIALS
*/

#testimonials .row {
    display: flex;
}

.testimonials__img,
.testimonials__description {
    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating i {
    color: rgba(246,173,85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    margin-top: 16px;
}

.testimonial__title,
.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.testimonial__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.testimonial__button:hover {
    background-color: rgba(226,232,240);
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}

/* 
START 
*/

main {
    margin-bottom: 96px;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title,
.start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms;
}

.start__button:hover:nth-child(1) {
    background-color: rgba(229,62,62);
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
}

.start__button:hover:nth-child(2) {
    background-color: rgba(247,250,252);
    color: rgba(100,21,255);
}

#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

/* 
FOOTER 
*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms;
    opacity: 0;
}

.footer__column--link:hover:after {
    opacity: 1;
}


.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}

.footer__social--link:hover {
    background-color: rgba(203,213,224);
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

@media(max-width: 1280px) {
    h1 {
        font-size: 36px;
    }
    .header__description--para {
        font-size: 16px;
    }
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .header__img {
        max-width: 512px;
    }
    header .row {
        align-items: flex-end;
    }
    .header__customers {
        padding-right: 64px;
    }
    .plan__button {
        max-width: none;
    }
    .plan__bottom {
        padding: 32px 64px;
    }
    .testimonials__img {
        width: 41.6667%;
    }
    .testimonials__description {
        width: calc(100% - 41.6667%);
    }
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    .header__description,
    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 30px;
    }
    .header__description--para {
        margin: 20px 0;
    }
    .header__customers {
        padding-right: 0px;
    }
    .header__customers--title,
    .header__img--wrapper {
        margin-top: 48px;
    }
    .features {
        max-width: 768px;
    }
    .feature {
        width: calc(50%);
    }
    .feature__title {
        line-height: 1;
    }
    .feature__row {
        padding: 32px 8px;
        margin: 0 16px;
    }
    .feature__para {
        max-width: none;
    }
    .section__para {
        font-size: 16px;
    }
    .section__title {
        font-size: 36px;
    }
    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }
    .values__list {
        flex-direction: column;
        max-width: 320px;
    }
    .value:nth-child(1),
    .value:nth-child(2) {
        margin-top: 40px;
    }
    .plans {
        flex-direction: column;
        align-items: center;
    }
    .plan {
        margin-right: 0px;
    }
    #features .section__title,
    #pricing .section__title {
        font-size: 48px;
    }
    .testimonials__description {
        padding-left: 48px;
    }
    .start__row {
        flex-direction: column;
    }
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
    .start__buttons {
        width: auto;
        margin-top: 24px;
    }
    .start__button {
        padding: 16px 32px;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    .features {
        justify-content: center;
    }
    .feature {
        width: auto;
        max-width: 384px;
    }
    .section__para {
        font-size: 14px;
    }
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    .quality__description,
    .steps__description,
    .values__description,
    .testimonials__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
    .quality__description,
    .quality__img--wrapper,
    .steps__description,
    .steps__img--wrapper,
    .values__description,
    .values__img,
    .testimonials__description,
    .testimonials__img {
        width: 100%;
        max-width: 448px;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    .step {
        flex-direction: column;
        align-items: center;
    }
    .step__description {
        margin-top: 12px;
        margin-left: 0;
    }
    .values__list {
        margin: 0 auto;
    }
    .value:nth-of-type(1) {
        margin-right: 0px;
    }
    .value {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
    .testimonials__description {
        padding-left: 0;
    }
    .footer__columns {
        justify-content: flex-start;
    }
    .footer__column {
        width: calc(100% / 3);
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
    .footer__socials {
        margin-left: 0px;
    }
    .footer__social--link:first-child {
        margin-left: 0px;
    }
}

@media(max-width: 640px) {
    .section__title {
        line-height: 1.25;
    }
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    .header__email {
        flex-direction: column;
        height: auto;
    }
    .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }
    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .section__title {
        font-size: 30px;
    }
    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }
    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature__title {
        letter-spacing: 0.025em;
        line-height: 1;
    }
    .feature__text {
        margin-left: 0px;
        margin-top: 16px;
    }
    .feature__para {
        margin-top: 4px;
        line-height: 2;
    }
    #steps .section__title {
        margin: 16px 0 0 0;
    }
    .steps__list {
        margin-top: 48px;
    }
    .btn {
        line-height: 1.5;
    }
    .plan__price {
        font-size: 36px;
    }
    .plan__bottom {
        padding: 32px 48px;
    }
    .testimonial__para {
        margin-bottom: 32px;
    }
    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }
    .testimonial__profile {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__details {
        margin-left: 0;
        margin-top: 8px;
    }
    .testimonial__img {
        height: 64px;
        width: 64px;
    }
    .testimonial__buttons {
        margin-top: 32px;
    }
    .start__title {
        font-size: 24px;
    }
    .start__container {
        padding: 80px 0;
    }
    .start__buttons {
        flex-direction: column;
    }
    .start__button:nth-child(1) {
        margin-right: 0;
    }
    .start__button {
        padding: 12px 24px;
        font-size: 14px;
    }
    .start__button:nth-child(2) {
        margin-top: 16px;
    }
    main {
        margin-bottom: 80px;
    }
    .footer__columns {
        justify-content: center;
    }
    .footer__column {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
}